<p>Hello, {{ username }}. You are trying to reset your password.</p>
<p>
  Here should be a link, so that if you click it,
  you will be directed to a page to reset your password.
</p>
<p>
  Unfortunatelly, it is not implemented, but here is your password reset token: {{ token }}.
</p>
<p>
  Use postman to post a request to (backend)/users/recover/password/verify with body {"token": "{{token}}", "new_password": "&lt;new password&gt;"}.
</p>
<p>I'm sure you are a super great developer, so you know how to do it.</p>
